/** Importing fonts and setting the stage for entire document **/
@import url("https://fonts.googleapis.com/css?family=Vollkorn|VT323");
@import url("https://fonts.googleapis.com/css?family=Roboto:400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");
body {
  font-family: "Open Sans", "Roboto", "Vollkorn", Georgia, "Times New Roman",
    Times, serif;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Making sure that links stay same color (regardless if visited) **/
a,
a:visited {
  text-decoration: underline;
  color: #fff;
  text-decoration-style: dotted;
}

/** Positioning for particles-js container **/
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/** Positioning for main content container **/
.container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Centers content vertically */
  min-height: 100vh; /* Makes sure it takes full viewport height */
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}

/** Profile picture container **/
.profile-pic {
  display: flex;
  justify-content: left;
}
.profile-pic img {
  border-radius: 24px;
  max-width: 200px;
  height: auto;
  display: block;
}

/** Expandable list items CSS **/
/* TODO delete all this, no longer used */
:root {
  --opaque: rgba(0, 0, 0, 1);
  --transparent: rgba(0, 0, 0, 0);
}
.li-collapse {
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.li-expand {
  vertical-align: top;
  cursor: pointer;
}
.item-fade {
  cursor: pointer;
  display: inline-block;
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  -webkit-mask-image: linear-gradient(
    to right,
    var(--opaque) 50%,
    var(--transparent) 100%
  );
}
.item-hide {
  display: none;
}
.items-links-not-clickable > a {
  pointer-events: none;
}

/** footer CSS **/
.footer {
  border-top: 1px solid #ccc;
  text-align: left;
  padding: 0 0 20px 0;
  color: #aaa;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  flex-flow: column;
  align-items: left;
}
.footer-icons {
  padding: 10px 0 0 0;
  border-top: 1px solid #ccc;
}
.footer i {
  padding: 10px 10px 0px 10px;
}

.footer-text {
  margin-top: 14px;
  margin-bottom: 14px;
}

.footer-text p {
  margin: 0;
}

/** section CSS **/
/* TODO see if I can delete most of this too */
.section {
  font-size: 14px;
  line-height: 150%;
}
.section h1 {
  font-size: 36px;
  margin: 0 0 6px;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  font-weight: 300;
}
.section h3 {
  font-size: 24px;
  color: #aaa;
  margin: 0 0 10px;
  font-weight: 300;
}
.section ul {
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  list-style: none;
}
.section li {
  margin: 10px;
}
.section p {
  text-align: justify;
}

/** Color palette CSS **/
.color-palette {
  width: 100%;
  display: flex;
  align-content: left;
  justify-content: left;
}
.color-option {
  width: 18px;
  height: 18px;
  margin: 0 18px 0 0;
  cursor: pointer;
  border-style: solid;
  border-width: 0;
}
.color-option.selected {
  width: 16px;
  height: 16px;
  border-width: 1px;
}
.color-option[data-palette="light"] {
  background-color: #fff;
  border-color: #000;
}
.color-option[data-palette="dark"] {
  background-color: #222;
  border-color: #fff;
}
.color-option[data-palette="sepia"] {
  background-color: #fff4dd;
  border-color: #000;
}
