@import url("https://fonts.googleapis.com/css?family=Vollkorn|VT323");
@import url("https://fonts.googleapis.com/css?family=Roboto:400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");

/* Setting global CSS variables */
:root {
  /* Used when toggling between dark & light themes */
  --transition-time: 1s;

  --dark-bg: #222222;
  --dark-text: #ffffff;

  --light-bg: #fff4dd;
  --light-text: #42210b;

  --light-gray: #cccccc;
  --medium-gray: #aaaaaa;
}

/*
  Themes are defined at the top of CSS file so that `body` is set correctly at
  page load time (no flickering issues).

  Note that the `color-theme` attribute is set on the entire document.
*/
/* Dark Mode */
[color-theme="dark"] {
  --bg-color: var(--dark-bg);
  --text-color: var(--dark-text);
}
/* Light Mode */
[color-theme="light"] {
  --bg-color: var(--light-bg);
  --text-color: var(--light-text);
}

body {
  font-family: "Open Sans", "Roboto", "Vollkorn", Georgia, "Times New Roman",
    Times, serif;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: none; /* Disable transition for initial page load */
  visibility: hidden;
}
body.loaded {
  visibility: visible;
  transition:
    background var(--transition-time) ease-in-out,
    color var(--transition-time) ease-in-out;
}

/** Making sure that links stay same color (regardless if visited) **/
a,
a:visited {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: var(--text-color);
  transition: none; /* Disable transition for initial page load */
}
a.loaded {
  transition: color var(--transition-time) ease-in-out;
}

/** Positioning for main content container **/
.container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Centers content vertically */
  min-height: 100dvh; /* Makes sure it's full (dynamic) viewport height */
  width: 90%;
  max-width: 450px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 150%;
}
.container p {
  margin-top: 0px;
  margin-bottom: 14px;
}

/** Profile picture container **/
.profile-pic {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.profile-pic img {
  margin: 0;
  border-radius: 50%;
  max-width: 200px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  border: 1px solid var(--medium-gray);
}

/** footer CSS **/
.footer {
  border-top: 1px solid var(--light-gray);
  text-align: left;
  margin-bottom: 20px;
  color: var(--medium-gray);
  font-size: 14px;
  line-height: 150%;
  display: flex;
  flex-flow: column;
  align-items: left;
}
.footer-icons {
  padding: 10px 0 0 0;
  border-top: 1px solid var(--light-gray);
}
.footer i {
  padding: 10px 10px 0px 10px;
}
.footer-text {
  margin-top: 14px;
  margin-bottom: 14px;
}
.footer-text p {
  margin: 0;
}

/** Color theme **/
.color-theme-container {
  width: 100%;
  display: flex;
  align-content: left;
  justify-content: left;
}
.color-option {
  width: 18px;
  height: 18px;
  margin: 0 18px 0 0;
  cursor: pointer;
  border-style: solid;
  border-width: 0;
}
.color-option.selected {
  width: 16px;
  height: 16px;
  border-width: 1px;
}
.color-option[color-theme-option="dark"] {
  background-color: var(--dark-bg);
  border-color: var(--light-bg);
}
.color-option[color-theme-option="light"] {
  background-color: var(--light-bg);
  border-color: var(--dark-bg);
}
