/** Importing fonts and setting the stage for entire document **/
@import url("https://fonts.googleapis.com/css?family=Vollkorn|VT323");
@import url("https://fonts.googleapis.com/css?family=Roboto:400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");

:root {
  /* Used when toggling between dark & light themes */
  --transition-time: 1.5s;

  --dark-bg: #222222;
  --dark-text: #ffffff;

  --light-bg: #fff4dd;
  --light-text: #42210b;
}

body {
  font-family: "Open Sans", "Roboto", "Vollkorn", Georgia, "Times New Roman",
    Times, serif;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background var(--transition-time) ease-in-out,
    color var(--transition-time) ease-in-out;
}

/** Making sure that links stay same color (regardless if visited) **/
a,
a:visited {
  text-decoration: underline;
  text-decoration-style: dotted;

  color: var(--text-color);
  transition: color var(--transition-time) ease-in-out;
}

/** Positioning for main content container **/
.container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Centers content vertically */
  min-height: 100dvh; /* Makes sure it's full (dynamic) viewport height */
  width: 90%;
  max-width: 450px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 150%;
}
.container p {
  margin-top: 0px;
  margin-bottom: 14px;
}

/** Profile picture container **/
.profile-pic {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}
.profile-pic img {
  margin: 0;
  border-radius: 24px;
  max-width: 200px;
  height: auto;
  display: block;
}

/** footer CSS **/
.footer {
  border-top: 1px solid #ccc;
  text-align: left;
  margin-bottom: 20px;
  color: #aaa;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  flex-flow: column;
  align-items: left;
}
.footer-icons {
  padding: 10px 0 0 0;
  border-top: 1px solid #ccc;
}
.footer i {
  padding: 10px 10px 0px 10px;
}
.footer-text {
  margin-top: 14px;
  margin-bottom: 14px;
}
.footer-text p {
  margin: 0;
}

/** Color theme **/
.color-theme {
  width: 100%;
  display: flex;
  align-content: left;
  justify-content: left;
}
.color-option {
  width: 18px;
  height: 18px;
  margin: 0 18px 0 0;
  cursor: pointer;
  border-style: solid;
  border-width: 0;
}
.color-option.selected {
  width: 16px;
  height: 16px;
  border-width: 1px;
}
/* Dark Mode */
[data-theme="dark"],
.color-option[theme-option="dark"] {
  --bg-color: var(--dark-bg);
  --text-color: var(--dark-text);
  background-color: var(--dark-bg);
  border-color: var(--light-bg);
}
/* Light Mode */
[data-theme="light"],
.color-option[theme-option="light"] {
  --bg-color: var(--light-bg);
  --text-color: var(--light-text);
  background-color: var(--light-bg);
  border-color: var(--dark-bg);
}
