<div class="footer">
  <div class="footer-icons">
    <a href="mailto:izzy@izzygomez.com" target="_blank"><i class="fas fa-envelope fa-3x"></i></a>
    <a href="https://instagram.com/izzyg/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
    <a href="https://twitter.com/realizzyg/" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>
    <a href="https://linkedin.com/in/izzygomez/" target="_blank"><i class="fab fa-linkedin-in fa-3x"></i></a>
  </div>

  <p>Copyright &copy; <script type=text/javascript>document.write(new Date().getFullYear())</script> Izzy Gomez. Source at <a href="https://git.io/izzy">git.io/izzy</a></p>
</div>
