<head>
  <meta charset="UTF-8">

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == 'Home' %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="preload" href="/css/style.css" as="style">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Icons -->
  <link
    rel="shortcut icon"
    href="{{ site.baseurl }}/icons/game-of-life-glider.svg"
  >

  <!-- Scripts -->
  <!--
    Script that runs immediately to set theme correctly before rendering.
    This addresses "flickering" issue that can occur when the page loads.

    Currently defaults to: DARK.
    If this is changed, also update code in js/index.js
  -->
  <script>
    (function () {
      var savedTheme = localStorage.getItem('color-theme') || 'dark';
      document.documentElement.setAttribute('color-theme', savedTheme);
    })();
  </script>

  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-NM7SW4SC94"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-NM7SW4SC94');
  </script>

  <!--
    Load other scripts with `defer` to not block rendering. note that scripts
    will run in the order they're listed.
  -->
  <script defer src="/js/jquery.min.js"></script>
  <script defer src="/js/index.js"></script>
</head>
