body {
    font-family: "Vollkorn", Georgia, "Times New Roman", Times, serif;

	background: #606c88; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #606c88 , #3f4c6b); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #606c88 , #3f4c6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#fff;
	padding:0 10px
}

h1, h2, h3 {
	line-height:1.2
}

.board_row {
	height: 10px;
    padding-top: 0cm;
    padding-bottom: 0cm;
}